:root {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#container {
    margin: 0;
    padding: 0;
    min-height: 80vh;
    position: absolute;
    bottom: 0vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card {
    flex-grow: 1;
    font-size: 70px;
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
}

.card#card-w2 {
    font-size: 25px;
}

.tone-0 { color: #999; }
.tone-1 { color: #f33; }
.tone-2 { color: #3f6; }
.tone-3 { color: #990; }
.tone-4 { color: #36f; }


.control-container {
    display: flex;
    justify-content: center;
}

.control-container button {
    min-width: 100px;
    border-radius: 10px;
}

#big-control-container button {
    padding: 10px;
    margin: 0 10px;
    font-size: 30px;
}

#small-control-container button {
    padding: 5px;
    margin: 5px2 5px 0;
    font-size: 15px;
}
