:root {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#container {
    margin: 0;
    padding: 0;
    min-height: 80vh;
    position: absolute;
    bottom: 0vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card {
    flex-grow: 1;
    font-size: 70px;
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
}

.card#card-w2 {
    font-size: 25px;
}

.tone-0 { color: #999; }
.tone-1 { color: #f33; }
.tone-2 { color: #3f6; }
.tone-3 { color: #990; }
.tone-4 { color: #36f; }

body.r-highlight .fayin-r {
    text-shadow: 0px 0px 5px #000;
}


.control-container {
    display: flex;
    justify-content: center;
}

button {
    background: #fff;
    border-radius: 10px;
    user-select: none;
}

#big-control-container button,
button#close-settings {
    min-width: 100px;
    padding: 10px;
    margin: 0 10px;
    font-size: 30px;
}

#small-control-container button {
    min-width: 80px;
    padding: 5px;
    margin: 5px 5px 0;
    font-size: 15px;
}

#settings {
    display: none;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    padding: 0 1em;
    background: #eee;
    z-index: 100;
}

body.show-settings #settings {
    display: block;
}

#settings h1 {
    text-align: center;
}

#settings footer {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    display: flex;
    justify-content: center;
}
